---
import Layout from '../layouts/Layout.astro';
import ProfileCard from '../components/ProfileCard.astro';
import ProfileShPanel from '../components/ProfileShPanel.astro';
import AboutPanel from '../components/AboutPanel.astro';
import MapPanel from '../components/MapPanel.astro';
import SteamGamesPanel from '../components/SteamGamesPanel.astro';

const discordUserId = import.meta.env.DISCORD_USER_ID;

const discordError = !discordUserId ? 'DISCORD_USER_ID not set in .env' : null;
---

<Layout>
	<div class="container grid">
		<div class="left-col">
			<ProfileCard
				discordUserId={discordUserId ?? ''}
				error={discordError}
			/>
			<ProfileShPanel />
		</div>

		<div class="right-top">
			<AboutPanel />
			<MapPanel />
		</div>

		<SteamGamesPanel />
	</div>
</Layout>
